.projects-main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.projects-main-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #333;
  font-family: "Flamenco", system-ui;
  font-weight: 800;
}
.projects-container {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
  background: linear-gradient(to right, #9ed9c9, #88accb);;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin: 7px;
  padding: 10px;
  width: 260px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.project-image {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
}

.project-title {
  font-size: 1.5em;
  margin: 10px 0; 
  color: #333; 
}

.project-content {
  font-size: 0.9em; 
  color: #666; 
  margin-bottom: 15px; 
}

.project-view-more-button {
  background-color: #007bff; 
  color: #ffffff;
  border: none; 
  border-radius: 5px; 
  padding: 10px 15px;
  cursor: pointer; 
  font-size: 1em; 
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
  animation: pop-in 0.5s ease-in-out; 
}

.project-view-more-button:hover {
  background-color: #0056b3; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .projects-container {
    justify-content: center; 
  }
  .projects-main-container h2 {
    font-size: 1.9rem;
  }

  .project-card {
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #9ed9c9, #88accb);;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .project-card {
    width: 90%; 
    margin: 10px; 
  }
  .projects-main-container h2 {
    font-size: 1.5rem;
  }

  .project-title {
    font-size: 1.2em; 
  }
}